---
import BaseLayout from "@layouts/learn/BaseLayout.astro";
import Link from "@components/learn/Link.astro";
const data = await (await fetch("https://jsonplaceholder.typicode.com/todos/1")).json();
---

<BaseLayout>
  <div>simple data call: {data.title}</div>

  <p x-data @click="console.log('call')" slot="s1" class="text-blue-400">with slotname</p>
  <h2>without slotname</h2>
  <Link href="/learning/pages/home" class="text-green-500">home</Link>

  <script>
    const year = new Date().getFullYear();
    console.log("year", year);
  </script>
</BaseLayout>
