---
// src/layouts/BlogLayout.astro
import BaseLayout2 from "@layouts/learn/BaseLayout2.astro";

interface Props {
  title: string;
  date: string;
  author?: string;
}
const { title = "title2", date = new Date(), author = "Anonymous" } = Astro.props;
---

<h1 class="test1">new content</h1>
<BaseLayout2 title={title}>
  <article class="mx-auto max-w-3xl">
    <header class="mb-8 pb-8 border-gray-200 border-b">
      <h1 class="font-black text-4xl tracking-tight">{title}</h1>
      <div class="flex items-center gap-4 mt-4 text-gray-500 text-sm">
        <span>By {author}</span>
        <span>·</span>
        <time>{date}</time>
      </div>
    </header>
    <div class="max-w-none prose prose-lg">
      <slot />
    </div>
  </article>
</BaseLayout2>
