---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script is:inline src="https://unpkg.com/htmx.org"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly":false}' />
    <title>Document</title>
  </head>

  <body>
    <button id="req" hx-get="https://dummyjson.com/products/1" hx-trigger="click delay:2s">send</button>
    <button onclick="htmx.trigger('#req', 'htmx:abort')">abort</button>
  </body>
</html>
