---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script is:inline src="https://unpkg.com/htmx.org"></script>
    <title>Document</title>
  </head>

  <body>
    <div hx-boost="true" hx-target="#target">
      <nav>
        <ul>
          <li><a href="/hx/learning/c1">C1</a></li>
          <li><a href="/hx/learning/c2">C2</a></li>
          <li><a href="/hx/learning/c3">C3</a></li>
        </ul>
      </nav>
    </div>
    <div id="target"></div>
  </body>
</html>
