---
import { Counter } from "@components/qwik/Counter";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro + Qwik</title>
  </head>
  <body>
    <h1>Astro page</h1>

    <Counter client:load />
  </body>
</html>
