---

---

<div
  x-data="{
    todos: [],
    async getTodos() {
      const res = await fetch('/api/todo/a1');
      this.todos = await res.json();
    }
  }"
  x-init="getTodos()"
  @recall-api.window="getTodos()"
>
  <template x-for="todo in todos" :key="todo.id">
    <div
      x-data="{
        completed: todo.completed,
        editMode: false,
        async updateTodo(updatedTodo) {
          await fetch('/api/todo/a1/' + updatedTodo.id, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(updatedTodo),
          });
        }
      }"
    >
      <div
        x-show="!editMode"
        class="flex gap-4 items-center mt-4"
        @dblclick.stop="editMode = true"
      >
        <input type="checkbox" x-model="completed" />
        <p
          class="w-52"
          x-text="todo.title"
          :class="{ 'line-through': completed }"
        >
        </p>
        |
        <p x-text="todo.priority" :class="{ 'line-through': completed }"></p>
        <p
          class="text-red-500 cursor-pointer"
          @click="fetch('/api/todo/a1/' + todo.id, { method: 'DELETE' }).then(() => { $dispatch('recall-api') })"
        >
          &times;
        </p>
      </div>
      <div x-show="editMode" @keydown.enter="updateTodo(todo); editMode = false; $dispatch('recall-api')">
        <input
          type="text"
          x-model="todo.title"
          class="border border-violet-400"
        />
        |
        <input
          type="text"
          x-model="todo.priority"
          class="border border-violet-400"
        />
      </div>
    </div>
  </template>
</div>
