---
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const data = await (await fetch("https://jsonplaceholder.typicode.com/todos/1")).json();
---

<BaseLayout>
  <div>simple data call: {data.title}</div>

  <p x-data @click="console.log('call')" slot="s1" class="text-blue-400">with slotname</p>
  <h2>without slotname</h2>
  <Link href="/learning/pages/home" class="text-green-500">home</Link>
</BaseLayout>

<script>
  import { getYear } from "../utils";
  const year = getYear();
  console.log("year", year);
</script>
