---
import "@tw";
import Card from "../../../components/learning/Card.astro";
import data from "../data/pics.json";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {
      data.map((c) => {
        return <Card data={c} />;
      })
    }
  </body>
</html>
